:root {
  --background: white;
  --color: #222;
}

.dark-theme {
  --background: #222;
  --color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  background: var(--background);
  color: var(--color);
}

header {
  flex: 0 0 100%;
}

main {
  flex: 0 0 80%;
}

aside {
  flex: 0 0 20%;
}

footer {
  flex: 0 0 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
}

label {
  flex: 0 0 35%;
}

input,
textarea,
select {
  flex: 0 0 60%;
  margin-bottom: 10px;
}

h1 {
  font-size: 20px;
  font-weight: 1200;
  border-bottom: 1px solid #000;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 15px;
  font-size: 13px;
}

button-small {
  padding: 5px 10px;
  font-size: 5px;
}

section {
  margin-bottom: 20px;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: right;
}

.grid-item2 {
  padding: 20px;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 2;
}